<div id="main-container" class="container mat-app-background">
  <mat-toolbar id="volkan-title" color="primary">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    Volkan - La Tana dei Goblin Trento - Collezione giochi da tavolo
    <span class="fill-space"></span>
    <mat-icon>brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl">
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
  </mat-toolbar>
  <mat-sidenav-container class="navbar-container">
    <mat-sidenav id="sidenav" #sidenav="matSidenav" mode="side" opened color="primary" class="mat-elevation-z8">
      <img class="avatar mat-elevation-z8"
        src="https://www.goblins.net/files/images/club/logo/tdglogotrento_scudo_50perc.jpg" />
      <h4 class="name">Volkan</h4>
      <p class="designation">La Tana dei Goblin Trento</p>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <!-- main content container -->
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- <app-footer></app-footer> -->
</div>