<div fxFlexFill fxLayoutAlign="start stretch" fxLayout="row">
    <mat-card appearance="outlined" fxFlex="50%" fxFlex.lt-md="30%" fxFlex.lt-sm="100%" class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>
                Volkan - La Tana dei Goblin Trento
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img src="/assets/img/logo.jpg" alt="image">
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" fxFlex="50%" fxFlex.lt-md="30%" fxFlex.lt-sm="100%" class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>
                Su di noi
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h4>Chi siamo:</h4>


            All’inizio erano cinque amici con il gioco di ruolo nel sangue: la Volkan. Cresce la passione per i giochi
            da
            tavolo, di carte e di miniature e con essa il gruppo.
            <br>
            <br>
            Nasce la voglia di diffondere questo bel modo di stare assieme e la Volkan comincia ad organizzare serate
            giochi,
            eventi e tornei. Una luce verde fa da richiamo e attira alla mitica Tana dei Goblin, e finalmente a Gennaio
            2014
            nasce la tana di Trento.
            <br>
            <br>
            La nostra sede si trova all’interno del “MAGMAN” in via San Bernardino 9 a Trento, dove trovi sempre un
            goblinoide
            ad accoglierti che ti farà esplorare il magico mondo dei giochi!

            <br>
            <br>
            <h4>Appuntamenti fissi:</h4>

            <ul>
                <li>Giovedì sera, dalle 20:30 alle 24:00 giochi in scatola e giochi di miniature! La nostra ludoteca è
                    aperta e
                    a vostra completa disposizione con tanto di dimostratori e affiliati con cui condividere la vostra
                    passione!</li>
                <li> - E’ il gioco di ruolo la tua passione? Gioisci! Organizziamo due campagne gdr all’anno: una in
                    primavera ed
                    una
                    in
                    autunno alternando ambientazione e regolamenti per soddisfare tutti i gusti!</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>