<div class="content">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div>
    <mat-card appearance="outlined">Ci sono {{games.length}} giochi disponibili</mat-card>
  </div>
  <div fxFlexFill fxLayoutAlign="start stretch" fxLayout="row wrap">
    <mat-card appearance="outlined" *ngFor="let game of games" fxFlex="20%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%"
      class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          {{game.name}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <center><img [src]="getSanitizedUrl(game.thumbnail)">
        </center>
        <mat-list dense>
          <mat-list-item> <b>Anno:</b> {{game.year}} </mat-list-item>
          <mat-list-item> <b>Numero di giocatori:</b> {{printPlayerCount(game.minPlayers, game.maxPlayers)}}</mat-list-item>
          <mat-list-item> <b>Durata partita:</b> {{printGameDuration(game.minPlayingTime, game.maxPlayingTime)}} </mat-list-item>
        </mat-list>
        <button mat-raised-button routerLink="/game/{{game.bggId}}">Vai al Gioco</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>